<%- include('./partials/header.ejs')%>
    <div class="main">
        <h1>Welcome to ELT!</h1>
        <h3>ELT is a Electronic Trade Company </h3>
        <h3>Which includes all the electronic goods that are to be traded between different indivuduals via online booking or physicsal transefer </h3>
    </div>  
<%- include('./partials/footer.ejs')%>
